#mainBody {
    background-color: #505050;
    color: #c8c8c8;
}

#pageHeader {
    background-color: #323232;
    margin-left: 200px;
}

#sideNavigationBar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

#sideNavigationBar a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #c8c8c8;
    display: block;
}

#sideNavigationBar a:hover {
    color: white;
}





#cpuGraphContainer {
    /*background-color: #32d817;

     */
    margin-top: 30px;
    margin-left: 230px;
    /*width: 100px;*/
}

#ramGraphContainer {
    background-color: #32d817;
    margin-top: 30px;
    margin-left: 230px;
    /*width: 100px;*/
}

#testContainer {
    margin-left: 230px;
}


#graphContainer {
    margin-right: 30px;
}

/*.main {
    margin-left: 200px; /* Same as the width of the sidenav
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
*/





