#mainBody {
    background-color: #505050;
    color: #c8c8c8;
}

#pageHeader {
    background-color: #323232;
    margin-left: 200px;
}

#sideNavigationBar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

#sideNavigationBar a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #c8c8c8;
    display: block;
}

#sideNavigationBar a:hover {
    color: white;
}


#cpuGraphContainer {
    background-color: #545555;
    margin-top: 30px;
    margin-left: 230px;
    margin-bottom: 50px;
    height: 60vh;
    padding-top: 20px;
}

#ramGraphContainer {
    background-color: #545555;
    margin-top: 30px;
    margin-left: 230px;
    height: 60vh;
    padding-top: 20px;
}


#cpuGraphTimescale {
    margin-bottom: 10px;
    width: 200px;
}

#ramGraphTimescale {
    margin-bottom: 10px;
    width: 200px;
}

#cpuAreaChartContainer {
    background-color: #545555;
    margin-top: 30px;
    margin-left: 230px;
    height: 50vh;
    margin-right: 30px;
}

#ramAreaChartContainer {
    background-color: #545555;
    margin-top: 30px;
    margin-left: 230px;
    height: 50vh;
    margin-right: 30px;
}

#sliderRange {
    background-color: #545555;
    margin-left: 230px;
    height: 10vh;
    margin-right: 30px;
}

rect {
    pointer-events: all;
    fill-opacity: 0;
    stroke-opacity: 0;
    z-index: 1;
}

.tooltip {
    position: absolute;
    padding: 10px;
    background-color: steelblue;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    display: none;
    opacity: 0.75;
}